<p style="color: green"><%= notice %></p>

<h1>Currencies</h1>

<div>
<%= link_to "Add new exchange rate", new_currency_path %>
</div>
<div>
<%= link_to "Get exchange rate", info_retrieval_currencies_path %>
</div>